@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Oswald|Bree+Serif);
/*Variables*/
/*Variables*/
/*Fonts*/
html {
  font-size: 62.5%; }

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: "Merriweather", Helvetica, sans-serif;
  color: #022933;
  background-color: #eee8d6; }

.container {
  width: 80%;
  margin: 0 auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #d14348;
  font-family: "Bree Serif", Helvetica, sans-serif; }
